/* 스크롤이 될 div 설정 */
.scroll-container {
  width: 300px;         /* 너비 */
  height: 300px;        /* 높이 */
  overflow: auto;       /* 넘치는 콘텐츠에 대해 스크롤 바를 표시 */
  border: 2px solid #007acc; /* 경계선 */
  padding: 10px;        /* 안쪽 여백 */
}

.content {
  height: auto;        /* 내용이 넘치도록 높이를 크게 설정 */
  background-color:rgb(243, 243, 243);
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}